[submodule "plyxporter"]
	path = plyxporter
	url = https://github.com/ultravideo/uvgPlyXporter.git
[submodule "visualizer"]
	path = visualizer
	url = https://github.com/ultravideo/uvgVoluPlay.git
	branch = Build-Visual-Studio